@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "DirectivesView Page";
}
 
    <h1>Directives</h1>
    {{2+2}}
 